---
---

@import "{{ site.theme }}";

.wrapper {
    max-width: 994px;
}

figure {
    width: 100%;
    text-align: center;
    border: 1px solid black;

    @media (min-width: 768px) {
        text-align: left;
        float: right;
        margin-left: 20px;
        margin-bottom: 20px;
        max-width: 50%;
    }
}

figure > img {
    width: 100%;
    display: block;
}

figure > figcaption {
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

img.cookbook-page {
    display: block;
    margin: 0 auto;
}

ul.cookbook-pages {
    margin: 0;
}

ul.cookbook-pages > li {
    list-style: none;
    display: block;
    float:left;
    margin-bottom: 30px;
    width: 100%;

    @media (min-width: 768px) {
        width: 50%;
    }
}

img.cookbook-page__thumbnail {
    display: inline-block;
    width: 100px;
}

ul.cookbook-page--recipe-list {
    display: inline-block;
    vertical-align: middle;
    list-style-type: disc;
}

ul.cookbook-page--recipe-list li {
    @media (min-width: 768px) {
        font-size: 0.9rem;
    }
}

.cookbook-page__navigation > ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.cookbook-page__navigation--prev {
    flex: 1;
}

.cookbook-page__navigation--next {
    flex: 1;
    text-align: right;
}

.cookbook-page__recipe {
    margin-top: 50px;
}
